/* RESET */
*{
	margin: 0; 
	padding: 0; 
	font-size: 100%; 
	box-sizing: border-box; 
	text-decoration: none; 
	font-family:'Roboto', sans-serif;
}

ul{
	list-style: none;
}

/* HEADER */

header{
	position: fixed;
	top: 0; 
	width: 100%; 
	display: flex; 
	justify-content: space-between;
	background-color: #fff; 
	height: 120px; 
	align-items: center; 
	padding: 20px 40px; 
	z-index: 4;
}

header img{
	width: 200px; 
}

header ul{
	display: flex;
}

header li a{
	color: #0f4481; 
	font-size: 1.2rem; 
	padding: 5px 13px; 
	border-radius: 5px;
}

header li{
	margin: 0 10px;
}

header li:first-child{
	margin-left: 0;
}

header li:last-child{
	margin-right: 0;
}

header li a:hover{
	border-bottom: 3px solid #0f4481; 
	border-radius: 0;
}

#main-nav li:hover .submenu > li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;

}

.submenu li{
	display: none;
	position: absolute;
	text-align: center;

}

.submenu li a{
	background-color: #ddd;
	width: 169.5px;
	border-radius: 0;
	color: #0f4481;
	padding: 10px 0;

}

.submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 78px;
	justify-content: center;
}

.submenu li{
	position: relative;
}


@media (max-width: 800px){
	header{ 
		justify-content: center;
		flex-direction: column; 
		left: 0; 
		top: 0;
	}
	header img{
		margin-bottom: 7px; 
		width: 150px;
	}
	
	header li {
		margin: 0 5px;
	}
	
	header li a{
		font-size: 1rem; 
		padding: 10px 8px;
	}
	
	header li:first-child{
		margin-left: 0;
	}
	
	header li:last-child{
		margin-right: 0;
	}

	.submenu{
		top: 120px;
	}

	.submenu li a{
		font-size: 1rem; 
		padding: 5px 8px;
	}
}

/* MAIN */
.areas{
	width: 100%; 
	margin-top: 120px; 
}

.cont-100{
	width: 100%; 
	height: 40%; 
	display: flex; 
	padding: 1%;
}

.cont-40{
	width: 40vw; 
	background-image: url(../_imagens/prof-atencioso.png); 
	background-repeat: no-repeat; 
	background-size: cover; 
	margin-right: 2%;
}

.cont-60{
	width: 60%; 
	background-color: #ddd; 
	padding: 2%; 
	display: flex; 
	flex-direction: column;
}

.cont-60 h3{
	font-size: 30px; 
	font-weight: 400; 
	margin-bottom: 3%; 
	text-align: center;
}

.cont-60 p{ 
	font-size: 20px; 
	line-height: 25px; 
	text-align: center; 
	margin-bottom: 1%;
}

.cont-41{
	width: 40vw; 
	background-image: url(../_imagens/prof-competente.png); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
	margin-left: 2%;
}

.cont-42{
	width: 40vw; 
	background-image: url(../_imagens/prof-feliz.png); 
	background-repeat: no-repeat; 
	background-size: cover; 
	margin-right: 2%;
}
	
@media (max-width: 880px){
	.cont-100{
		display: flex; 
		flex-direction: column;
	}
	.cont-40{
		width: 100vw; 
		background-image: url(../_imagens/prof-atencioso.png); 
		background-repeat: no-repeat; 
		background-size: cover; 
		margin-right: 2%;
	}
	
	.cont-41{
		width: 100vw; 
		background-image: url(../_imagens/prof-competente.png); 
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center; 
		margin-left: 2%;
	}
	
	.cont-42{
		width: 100vw; 
		background-image: url(../_imagens/prof-feliz.png); 
		background-repeat: no-repeat; 
		background-size: cover; 
		margin-right: 2%;
	}

	.cont-60{
		width: 100%;
	}
}

/* FOOTER */
footer{
	width: 100%; 
	height: 150px; 
	background-image: linear-gradient(to right,#0f4481,#ddd); 
	text-align: center; 
	padding: 20px;
}

footer p{
	margin: 15px; 
	font-size: 1rem;
}

@media (max-width: 740px){
	footer p{
		font-size: .9rem;
	}	
}
